.promo-img{
    width: 100%;
}

.orange-text{
    color: #FF5500;
}

.promo-text-cont{
    position: absolute;
    top: 40%;
    margin-left: 2rem;
}

.summer-sale-text{
    background-color: white;
    padding-inline: 2rem;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    width: fit-content;
    padding-block: 0.5rem;
}

.off-text{
    background-color: white;
    padding-inline: 2rem;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 4em;

}

.shop-sale-btn{
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 4rem;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 2em;
    border: none;
    color: black;
    background-color: #FF5500;
    padding-inline: 2rem;
    transition: all 0.15s ease-in;
}

.shop-sale-btn:hover{
    transform: scale(1.1);
}

.shop-all-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    align-items: end;
}

.standing-img{
    width: 35%;
    height: auto;
}

.sitting-img{
    width: 100%;
    height: auto;
}

.shop-img-cont{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.occasions-text{
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: black;
    line-height: 90%;
    text-align: right;
}

.shop-all-shoes{
    text-align: right;
    margin-bottom: 2rem;
    color: #989898;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.shop-all-shoes:hover{
    color: #FF5500;
    font-size: 1.6em;
}

@media (max-width: 992px) {
    .shop-sale-btn {
        top: 60%;
    }
}

@media (max-width: 800px) {
    .shop-sale-btn {
        top: 40%;
    }

    .promo-text-cont {
        top: 20%;
    }
}

@media (max-width: 660px) {
    .shop-sale-btn {
        top: 35%;
    }

    .promo-text-cont {
        top: 10%;
    }
}