.product-img{
    height: 100%;
}

.selectProductPage-cont{
    font-family: "Inter",sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: space-between;
    color: black;
}

.product-select-cont{
    width: 100%;
    margin-inline: 4%;
    padding-block: 2%;
}

.product-title-desc{
    text-align: right;
    margin-bottom: 2.5%;
    border-bottom: #D9D9D9 solid 1px;

}


.product-title{
    font-size: 4em;
    font-weight: 600;
    line-height: 80%;
}

.product-desc{
    color: #989898;
    line-height: 80%;

}

.shoe-size-select, .shoe-colour-select{
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    height: 25%;
    margin-bottom: 2.5%;
}

.select-label{
    font-size: 2.5em;
}

#shoe-quantity, #shoe-size{
    height: 3.5rem;
    border: solid 1px #ff5500;
    color: #989898;
    border-radius: 1rem;
    font-size: 1.5em;
    font-weight: 300;
    padding-inline: 1rem;
}

#shoe-quantity {
    width: 15%;
    text-align: center;
}

.Add-to-cart-btn{
    margin-inline: 5%;
    width: 90%;
    height: 10%;
    background-color: black;
    border: none;
    color: white;
    font-size: 2em;
    font-weight: 600;
    transition: all 0.15s ease-in;
    border-radius: 0;
}

.Add-to-cart-btn:hover{
    transform: translateY(-3px);
    color: black;
    background-color: #ff5500;
}

.product-price {
    color: #ff5500;
}

@media (max-width: 992px) {
    .selectProductPage-cont {
        flex-direction: column;
        width: 100%;
    }

    .product-img {
        padding: 3rem;
    }

    .product-select-cont{
        width: 100%;
        margin: 0;
        padding-inline: 5rem;
        padding-block: 2rem;
    }
}