.checkout-btn{
    margin-left: auto;
    width: 50%;
    height: 3rem;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.15s ease-in;
}

.checkout-btn:hover{
    color: black;
    background-color: #ff5500;
    transform: translateY(-3px);
}

.no-items-cart {
    font-family: "Inter", sans-serif;
    font-size: 3em;
}

@media (max-width: 700px) {
    .pln-cont {
        flex-direction: column;
        align-items: center;
    }
}