.shopping-card-cont {
    display: flex;
    font-family: "Inter", sans-serif;
    height: 35vh;
}

.shopping-card-img{
    height: 100%;
    width: 35vh;
}

.shopping-card-name {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.shopping-card-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    
}

.increment-btn, .decrement-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}

.quantity-input{
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    border: none;
    background-color: lightgray;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.shopping-card-size, .shopping-card-quantity {
    margin: 0;
}

@media (max-width: 992px) {
    .shopping-card-cont {
        transform: scale(0.8);
    }
}