.survey-title {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: 0;
}

.opinion-text {
    color: #ff5500;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

#survey-feedback {
    height: 20vh;
}

.survey-cont{
    width: 40vw;
    margin: 0 auto;
}

.btn-group{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.satis-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    border: 3px solid gray;
    cursor: pointer;
    transition: all ease-in 0.1s;
}

.satis-btn:hover {
    transform: scale(1.1);
}

.submit-btn{
    margin-left: auto;
    width: 50%;
    height: 3rem;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.15s ease-in;
}

.submit-btn:hover{
    color: black;
    background-color: #ff5500;
    transform: translateY(-3px);
}
